// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    tr:nth-child(odd) {
        background-color: #81bef7;
    }

    th {
        background-color: white;
    }
}